@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #282828;
  --color-on-primary: #ffffff;
  --color-surface: #505050;
  --color-on-surface: #ffffff;
}

body {
  color: var(--surface);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}